body{
	margin: 0;
	font-family:  Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: grey;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'PT Sans Caption', sans-serif;
}

header h1{
	color:  white;
	font-size: 80px;
}

header img{
	border-radius: 60px;
    width: 250px;
    border: 20px solid ghostwhite;
}

main{
	max-width:  800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: steelblue;
	margin: 40px 0 10px;
}

a{
	color: steelblue;
}

a:hover{
	color: lightseagreen;
	background-color: transparent;
}
footer{
	background-color: grey;
	text-align: center;
	color:  white;
	padding: 50px;
}
footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: white;
}
p.caption{
	color: slategrey;
	font-style: italic;
	margin-top: 0;
}

